/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url('barbershop.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #3b3434;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.services {
    padding: 50px 0;
    text-align: center;
}

.service {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service img {
    max-width: 100%;
    border-radius: 5px;
}

.service h3 {
    font-size: 24px;
    margin-top: 10px;
}

.service p {
    margin-top: 10px;
}

.about {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.btn-retour{
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.btn-retour:hover {
    background-color: #555;
}
.retour{
    background-color: #333;
}